*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	touch-action: manipulation; /* IE11+ 禁止双击缩放，关于移动端300ms延迟：https://github.com/ftlabs/fastclick */  
    -ms-touch-action: manipulation; /* IE10+ 禁止双击缩放 */
    overflow-x: hidden;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "\5B8B\4F53";
	background: #f5f5f5;
}
a{
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.mint-toast{
    z-index: 3000 !important;
}

[class*=" my-icon-"], [class^=my-icon-] {
    font-family:"iconfont" !important;
    font-size: inherit;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my-icon-jianhang {
    color: #003b90;
}
.my-icon-nonghang {
    color: #008566;
}
.my-icon-jiaohang {
    color: #1d2088;
}
.my-icon-zhonghang {
    color: #b81c22;
}
.my-icon-gonghang {
    color: #e60012;
}
.my-icon-youzheng {
    color: #007f3e;
}
.my-icon-zhaohang {
    color: #a61f23;
}